.container {
  width: 100%;
  height: 100vh;
  color: white;
  position: relative;
  max-height: 1200px;
  padding-top: 4%;
  background-color: black;
  overflow-y: hidden;
}
.w50 {
  width: 50%;
  margin: auto;
}

.slider {
  width: 80%;
  margin: auto;
  height: 70%;
  background: 
    /* Серый градиент сверху слева */ linear-gradient(
      135deg,
      rgba(128, 128, 128, 0.184) 0%,
      transparent 30%
    ),
    /* Серый градиент снизу справа */
      linear-gradient(-45deg, rgba(128, 128, 128, 0.184) 0%, transparent 50%),
    /* Основной фон */ black;
  background-position: top left, bottom right, center;
  background-size: 50%, 100%, 100% 100%;
  background-repeat: no-repeat;
}
.people {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 2000px;
  margin: auto;
  height: 47%;
  overflow: hidden; /* Обрезаем всё, что выходит за границы */
}

.people > img {
  min-height: 100%;
  height: 100% !important;
  width: auto;
  max-width: none; /* Отменяем возможные ограничения максимальной ширины */
  object-fit: cover; /* Заполняем контейнер, сохраняя пропорции (обрезает края) */
}
.content {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1300px;
}
.logoContainer {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.sliderContent {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 29%;
  overflow-y: scroll;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}

.sliderContent::-webkit-scrollbar {
  display: none;
}
.subtitle,
.memberName,
.skillItem {
  font-size: 13px;
  font-family: Unbounded;
  font-weight: 100;
}
.subtitle {
  margin-top: 14px;
  font-weight: 500;
}
.skillsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skillItem {
  text-align: right;
}
.teamMember {
  display: flex;
  margin-top: 14px;
  align-items: flex-start;
  justify-content: space-between;
}
.sliderLogo > img {
  max-width: 520px;
}
.sliderLogo {
  width: 100%;
  height: auto;
}
.reciept {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
.titlePart {
  display: block;
  margin-top: 15px;
}
.light {
  font-weight: 100;
}

.item {
  text-align: center;
  margin-top: 20px;
}

.title {
  font-size: 14px;
  font-family: Unbounded;
  margin-top: 14px;
  text-align: center;
}
.text {
  margin-top: 10px;
  text-align: center;
  font-weight: 100;
  line-height: 142%;
}
.titleRequest {
  text-align: center;
  font-size: 30px;
  font-family: Unbounded;
}
.request {
  padding: 8px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  font-family: "Unbounded";
  border: 1px solid white;
  color: White;
  font-size: 17px;
  font-family: Unbounded;
}
@media (max-width: 780px) {
  .sliderContent {
    width: 100%;
  }
  .w50 {
    width: 85%;
  }
  .slider {
    width: 90%;
  }
  .logoContainer {
    width: 90%;
  }
  .sliderContent {
    padding-bottom: 100%;
  }
  .container {
    height: 93vh;
  }
}
