.section {
  width: 90%;
  height: 100%;
  color: white;
  margin: 175px auto 100px auto;
  max-width: 1380px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}
.zoomable {
  position: relative;
}
.contaiverCursor {
  position: absolute;
  height: 100%;
  width: 100%;
}
.contaiverCursor:hover > .cursor {
  opacity: 1;
}
.cursor {
  opacity: 0;
  width: 150px;
  z-index: 3;
  aspect-ratio: 1/1;
  text-align: center;
  transition: 0.2s ease;
  font-size: 12px;
  font-family: Unbounded;
  display: flex;
  border-radius: 50%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  letter-spacing: 5%;
  position: absolute;
}
.cursorActive {
  width: 15px;
  font-size: 0;
  font-family: Unbounded;
  aspect-ratio: 1/1;
  padding: 0;
  background: red;
  border: none;
}
.title {
  font-size: 12px;
  font-family: Unbounded;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: 66%;
}
.padding {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.card {
  box-sizing: border-box;
  border: 1px solid white;
  padding: 20px;
  height: fit-content;
}

.cardTitle {
  font-size: 30px;
  font-family: Unbounded;
  line-height: 110%;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.cardTitle > a {
  color: white;
  text-decoration: none;
  z-index: 99;
  position: relative;
  transition: 0.4s easeкра;
}
.cardTitle > a:hover {
  color: red;
}
.img {
  width: 70%;
  margin: 10px auto;
}
.wfull {
  width: 90%;
}
.cardText {
  font-size: 12px;
  font-family: Unbounded;
  color: rgba(255, 255, 255, 0.438);

  font-weight: 100;
  letter-spacing: 5%;
  line-height: 144%;
}

@media (max-width: 780px) {
  .section {
    flex-direction: column;
    gap: 20px;
    width: 95%;
  }

  .flex {
    flex-direction: column;
  }
  .cardText {
    display: none;
  }
  .card:hover > .cardText {
    display: block;
  }
  .flex {
    width: 100%;
  }
}
