.section {
  color: white;
  height: 90vh;
  max-width: 1380px;
  width: 90%;

  max-height: 900px;
  cursor: auto;
  margin: auto;
}
.container {
  height: 100%;
}
.title {
  list-style: 95%;
  letter-spacing: 1%;
  font-weight: 600;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  font-size: 740%; font-family: Unbounded;
}
.separator {
  width: 100%;
  height: 10px;
  background: white;
}
.count {
  position: relative;
  height: 144px;
  overflow: hidden;
  width: 100px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.fallingNumber {
  display: block;
  animation: fall 0.05s ease-out;
  position: absolute;
  width: 100%;
}
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  border: 1px solid #2b2b2b;
  width: 66.6%;
}

.imageContainer::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 20px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  aspect-ratio: 1/1;
}

.imageContainer::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  aspect-ratio: 1/1;
}
.link > svg {
  height: 100%;
  aspect-ratio: 1/1;
  background: #0f0f0f;
}
.link:hover > svg {
  background: red;
  transition: 0.4s ease;
  fill: red;
}
.link:hover > svg > rect {
  background: red;
  fill: red;
  transition: 0.4s ease;
}
.link {
  height: 100%;
}
.clientName {
  font-size: 14px; font-family: Unbounded;
  font-weight: 100;
  letter-spacing: 5%;
}
.links,
.client {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}
.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}
.footer {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.clientLogo {
  height: 100%;
  aspect-ratio: 1/1;
}
.workTitle {
  font-size: 35px; font-family: Unbounded;
  text-align: center;
  line-height: 100%;
  letter-spacing: 1%;
}
.message {
  width: 79%;
  text-align: center;
  font-size: 11px; font-family: Unbounded;
  font-weight: 200;
  letter-spacing: 5%;
  line-height: 122%;
}
.roleIcon {
  width: 77px;
  margin: auto;
  aspect-ratio: 1/1;
}

.image {
  width: 50%;
}

.roleTitle {
  font-size: 17px; font-family: Unbounded;
  margin-top: 6px;
}
.content {
  width: 33.3%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.workItem {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  height: 60%;
}
@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .title {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 16vw; font-family: Unbounded;
  }
  .section {
    height: fit-content;
  }
  .separator,
  .clientName {
    display: none;
  }
  .imageContainer::before,
  .imageContainer::after {
    display: none;
  }
  .count {
    height: 60px;
    text-align: left;
  }
  .workItem {
    flex-direction: column;
  }
  .workItem > * {
    width: 100%;
  }
  .image {
    width: 80%;
  }
  .imageContainer {
    border: 0;
  }
  .workTitle {
    font-size: 7vw; font-family: Unbounded;
  }
  .message {
    width: 100%;
    margin-top: 20px;
  }
  .footer {
    height: 40px;
    margin-top: 30px;
  }
}
