html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
button {
  background: none;
  border: none;
  outline: none;
}
button:disabled {
  opacity: 0.4;
}

section:not(:first-of-type) {
  padding-top: 20px;
}


/* main {
  display: flex;
  width: 100%;
  align-items: flex-end;
  height: 200vh;
} */
